/* Flexible Slide-to-top Accordion Style*/
.st-accordion{
	width:90%;
	max-width:800px;
    min-width:270px;
}



.st-accordion ul li > a{
	color: #238355;
	text-decoration: none;
    font-size: 20px;
    display: block;
	position: relative;
    line-height: 30px;
	outline:none;
    -webkit-transition:  color 0.1s ease-in-out;
	-moz-transition:  color 0.1s ease-in-out;
	-o-transition:  color 0.1s ease-in-out;
	-ms-transition:  color 0.1s ease-in-out;
	transition:  color 0.1s ease-in-out;
}
.st-accordion ul li > a span{
	background: transparent url(assets/down.png) no-repeat center center;
	text-indent:-9000px;
	position: absolute;
	right: -26px;
	opacity:0;
	-webkit-transition:  all 0.1s ease-in-out;
	-moz-transition:  all 0.1s ease-in-out;
	-o-transition:  all 0.1s ease-in-out;
	-ms-transition:  all 0.1s ease-in-out;
	transition:  all 0.1s ease-in-out;
}
.st-accordion ul li > a:hover{
   opacity: .5;
}

.st-accordion ul li > a:hover span{
	opacity:1;
	right: 10px;

	-webkit-transition:  all 0.1s ease-in-out;
	-moz-transition:  all 0.1s ease-in-out;
	-o-transition:  all 0.1s ease-in-out;
	-ms-transition:  all 0.1s ease-in-out;
	transition:  all 0.1s ease-in-out;

}
.st-accordion ul li.st-open > a{
    color: #238355;
}
.st-accordion ul li.st-open > a span{

	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
    transform:rotate(180deg);
	right:10px;
	opacity:1;
}

@media screen and (max-width: 320px){
	.st-accordion ul li > a{
		font-size:36px;
	}
}



@media screen and (max-width: 768px){
	.st-accordion ul li{
		width: 90%;
		margin-left: 60px;
		text-align: center;
	}
}



@media screen and (max-width: 640px){
	.st-accordion ul li{
		margin-left: 50px;
	}
}


@media screen and (max-width: 480px){
	.st-accordion{
		width: 100%;
		margin-left: -41px;
	}

	.st-accordion ul li a{
		font-size: 14px;
	}

	.st-accordion ul li a span{
		width: 15px;
	}


}